<!DOCTYPE html>
<html lang="en">
<body aria-live="polite" data-new-gr-c-s-check-loaded="14.1003.0" data-gr-ext-installed=""><div id="login" role="document" aria-hidden="true" style="color: orange; font-size: 22px;"></div></body>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2-4 Tree Implementation</title>
</head>

<body style="background-color: rgb(215, 248, 250); text-align: center"; >
<h2> Insert element </h2>
<form
    action="http://localhost:8000/sendkey" method="post">
    <input type="text" name="ki">
    <input type="submit" value="submit">
</form>
<br/>
<h2> Remove element </h2>
<form action="http://localhost:8000/remove" method="post">
    <input type="text" name="ki">
    <input type="submit" value="submit">
</form>
<br/>
<h2> Find element </h2>
<form action="http://localhost:8000/find" method="post">
    <input type="text" name="ki">
    <input type="submit" value="submit">
</form>
<br/>
<br/>
<br/>
{{ki}}
<br/>
<br/>
<img id="img1" src="{{ ima }}" alt = "Test Image" />
</body>
</html>